.main-chat__group--info
  .main-chat__group--info--ingredients
    .main-chat__group--info--ingredients--leftbox 
      -# test
      = @group.name
      .main-chat__group--info--ingredients--leftbox--member
        Member : 
        - @group.users.each do |user|
          =user.name
    .main-chat__group--info--ingredients--Edit
      = link_to edit_group_path(@group) ,class:'main-chat__group--info--ingredients--Edit--btn' do
        Edit
.main-chat__message--list
  = render @messages
  -# .main-chat__message--list--article 
  -#   .main-chat__message--list--article--head 
  -#     .main-chat__message--list--article--head--name 
  -#       masa
  -#     .main-chat__message--list--article--head--date
  -#       2021/11/20(wed) 17:00:00
  -#   .main-chat__message--list--article--text
  -#     おはよう！
.main-chat__message--form
  .main-chat__message--form--input
    .main-chat__message--form--input--text
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main-chat__message--form--input--text', placeholder: 'type a message'
        .main-chat__message--form--input--picture
          = f.label :image, class: 'input-picture' do
            = icon('fas', 'image')
            = f.file_field :image, style: "display:none;"
    
        = f.submit 'Send', class: 'main-chat__message--form--send-btn', style: "display:block;"