-# %h1 Messages#index
-# %p Find me in app/views/messages/index.html.haml

.wrapper
  .side-bar
    = render "side_bar"
    .side-bar__user--name
      .side-bar__user--name--ingredients
        .side-bar__user--name--ingredients--name
          masa
        .side-bar__user--name--ingredients--icons
          = link_to "#" ,class:'icons' do
            <i class="fas fa-edit icon"></i>
          = link_to "#" ,class:'icons' do
            <i class="fas fa-cog icon"></i>
    .side-bar__group--list
      .side-bar__group--list--package
        .side-bar__group--list--package--groupname
          techcamp
        .side-bar__group--list--package--new
          まだメッセージがありません
  .main-chat
    = render "main_chat"
    .main-chat__group--info
      .main-chat__group--info--ingredients
        .main-chat__group--info--ingredients--leftbox 
          test
          .main-chat__group--info--ingredients--leftbox--member
            Member : maira
        .main-chat__group--info--ingredients--Edit
          = link_to "#" ,class:'edit-btn' do
            Edit
    .main-chat__message--list
      .main-chat__message--list--article 
        .main-chat__message--list--article--head 
          .name 
            masa
          .date
            2021/11/20(wed) 17:00:00
        .main-chat__message--list--article--text
          おはよう！
      .main-chat__message--list--article 
        .main-chat__message--list--article--head 
          .name 
            maira
          .date
            2021/11/20(wed) 17:00:00
        .main-chat__message--list--article--text
          おはよう！
    .main-chat__message--form
      .main-chat__message--form--input
        .main-chat__message--form--input--text 
        %form 
          %input{type: "text", class: "input--text",placeholder: "type a message"}
        .main-chat__message--form--input--picture
          %label{class: "input-picture"}
            -# = link_to "#" ,class:'picture-icon' do
            -#   <i class="far fa-image"></i>
            = icon('fas', 'image')
            %input{type: "file", class:"file", style: "display:none;"}
      .main-chat__message--form--send
        %form 
          %input{type: "submit", value: "Send", class: "send-btn"}